{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'teradata-logo.png'%}">
    </a>
    <h1>Refugee Recommendation Engine</h1>
    <p>This is a ranking engine which shows a ranking of which countries provide a good home for a refugee using the <b>Teradata REST API</b> and other data sources. Enter in your location below to recieve a personalized ranking based upon your location.</p>
    <div style="width:90%;">
      <input style="color:grey; width:90%; height: 100%;" placeholder="Enter your current country here" ></input><button onclick="" class="btn btn-default" style="margin:15px; height: 100%;">Submit</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert" style="margin-bottom:0px !important; border-radius: 0px !important;">
    General Ranking: 
  </div>

  <table id="displayTable" style="width:100%">
    <tr>
        <th>Ranking</th>
        <th>Country Name</th>
        <th>Total Score</th>
    </tr>
    <!--tr>
        <td>1</td>
        <td>Algeria</td>
        <td>97.4</td>
    </tr-->
  </table>
</div>

<script>
/* display general data */
$(document).ready(function () {
  var json = {
      "205100": {
            "data": {
                "country_name": "Algeria",
                "total": 99,
                "ranking": 1
            }
      }
  }

  var countries = [];

  for (var key in json) {
      if (json.hasOwnProperty(key)) {
          var item = json[key];
          countries.push({
              Rank: item.data.ranking,
              Name: item.data.country_name,
              Total: item.data.total,
          });
      }
  }

  var table = document.getElementById("displayTable");

  for (var i = 1; i < countries.length+1; i++) {
      var row = table.insertRow(i);
      var cell1 = row.insertCell(0);
      cell1.innerHTML = countries[i-1].Rank;
      var cell2 = row.insertCell(0);
      cell2.innerHTML = countries[i-1].Name;
      var cell3 = row.insertCell(0);
      cell3.innerHTML = countries[i-1].Total;
  }
});
</script>
{% endblock %}